{% extends "layout.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename = 'css/scouts.css') }}"
  id="scouts"
/>

<script src="{{ url_for('static', filename='js/scouts.js') }}"></script>
<div class="row justify-content-between fx1">
  <div class="col-12 col-lg-6 d-flex flex-column fx1">
    <div class="card d-flex justify-content-center" id="selecter">
      <div class="row">
        <div class="col-8">
          <input
            type="name"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="名前で検索"
          />
        </div>
        <div class="col-4 d-grid gap-2">
          <button type="button" class="btn btn-primary justify-content-end">
            検索
          </button>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-around">
        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            class="form-check-input"
            id="bvsSelect"
            value="bvs"
            checked
          />
          <label for="bvsSelect" class="form-check-label">ビーバー隊</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            class="form-check-input"
            id="cubSelect"
            value="cs"
            checked
          />
          <label for="cubSelect" class="form-check-label">カブ隊</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            class="form-check-input"
            id="boySelect"
            value="bs"
            checked
          />
          <label for="boySelect" class="form-check-label">ボーイ隊</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            class="form-check-input"
            id="vsSelect"
            value="vs"
            checked
          />
          <label for="vsSelect" class="form-check-label">ベンチャー隊</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="checkbox"
            class="form-check-input"
            id="rsSelect"
            value="rs"
            checked
          />
          <label for="rsSelect" class="form-check-label">ローバー隊</label>
        </div>
      </div>
    </div>
    <div class="card overflow-hidden" style="height: 70vh" id="table">
      <div class="card-body overflow-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th scope="col">名前</th>
              <th scope="col">所属</th>
            </tr>
          </thead>
          <tbody>
            {% for item in list %}
            <tr class="scouts">
              <th scope="row">{{item.id}}</th>
              <td>{{item.name}}</td>
              <td>{{item.belong}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex">
    <div class="card fx1">
      <div class="card-body">
        <h5 class="card-title">タイトル</h5>
        <p class="card-text">スカウトの一覧です。</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
