{% extends "layout.html" %} {% block content %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>

<div class="container text-center">
  <div class="row justify-content-around">
    <!-- テーマ -->
    <div class="col-12 col-md-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">テーマ</h5>
          <p class="card-text">このソフトウェア上の表示テーマを設定します。</p>
        </div>
        <div class="card-footer">
          <div
            class="btn-group"
            role="group"
            aria-label="Setting of Theme"
            id="bd-theme"
          >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="SsetLight"
              autocomplete="off"
              data-bs-theme-value="light"
            />
            <label class="btn btn-outline-primary" for="SsetLight"
              >Light<i class="bi bi-brightness-high"></i
            ></label>

            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio2"
              autocomplete="off"
              data-bs-theme-value="auto"
            />
            <label class="btn btn-outline-primary" for="btnradio2"
              >System Default</label
            >

            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio3"
              autocomplete="off"
              data-bs-theme-value="dark"
            />
            <label class="btn btn-outline-primary" for="btnradio3"
              >Dark<i class="bi bi-moon-stars"></i
            ></label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">One of two columns</div>
    <div class="col-5">One of two columns</div>
    <div class="col-5">One of two columns</div>
    <div class="col-5">One of two columns</div>
  </div>
</div>
{% endblock %}
