<meta id="idscout" content="{{ scoutid }}" />
<form class="row g-3 align-items-center justify-content-center">
  <p class="text-center col-12 mb-0">名前</p>

  <div class="col-12 col-lg-6">
    <input
      type="text"
      id="inlineFormInputMiddle"
      class="form-control"
      placeholder="名字"
      value="{{ p.middle }}"
    />
  </div>
  <div class="col-12 col-lg-6">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="inlineFormInputName"
        placeholder="名前"
        value="{{ p.name }}"
      />
    </div>
  </div>
  <p class="text-center col-12 mb-0">現在の所属</p>
  <div class="col-12 col-lg-6">
    <select class="form-select" id="belongForm">
      {% for i in trp %}
      <option value="{{ i.id }}">{{ i.name }}</option>
      {% endfor %}
    </select>
  </div>

  <p class="text-center col-12 mb-0">経歴</p>
  <div class="d-flex flex-row flex-wrap justify-content-around" id="wasList">
    {% for i in trp %}
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" id="{{ i.short }}Select2"
      value="{{ i.id }}" {% if i.short.rstrip('\n') in waslist %}checked{% endif
      %} />
      <label for="{{ i.short }}Select2" class="form-check-label"
        >{{ i.name }}</label
      >
    </div>
    {% endfor %}
  </div>
  <p class="text-center col-12 mb-0">メモ</p>
  <div class="row">
    <textarea class="form-control" id="memoarea" rows="3" value="{{ p.memo }}">
{{ p.memo }}</textarea
    >
  </div>
</form>
