<div
  id="detail"
  class="d-flex align-items-center justify-content-center flex-column text-center fx1"
>
  <h2 class="w-100">{{ scout.middle }} {{ scout.name }} さんの詳細</h2>
  <!-- タブ部分 -->
  <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        type="button"
        class="nav-link active"
        id="home-tab"
        data-bs-toggle="tab"
        data-bs-target="#home-tab-pane"
        role="tab"
        aria-controls="home-tab-pane"
        aria-selected="true"
      >
        個人情報
      </button>
    </li>
    {% for i in was %}
    <li class="nav-item" role="presentation">
      <button
        type="button"
        class="nav-link"
        id="{{ i }}-tab"
        data-bs-toggle="tab"
        data-bs-target="#{{ i }}-tab-pane"
        role="tab"
        aria-controls="{{ i }}-tab-pane"
        aria-selected="false"
      >
        {{ i }}
      </button>
    </li>
    {% endfor %}
  </ul>

  <!-- パネル部分 -->
  <div id="myTabContent" class="tab-content w-100">
    <div
      class="tab-pane active"
      id="home-tab-pane"
      role="tabpanel"
      aria-labelledby="home-tab"
      tabindex="0"
    >
      <table class="table caption-top">
        <caption>
          個人情報
        </caption>
        <thead>
          <tr class="row">
            <th class="col-2" scope="row">項目</th>
            <th class="col-10">内容</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="row">
            <th class="col-2" scope="row">名前</th>
            <td class="col-10">{{ scout.middle }} {{ scout.name }}</td>
          </tr>
          <tr class="row">
            <th class="col-2" scope="row">所属</th>
            <td class="col-10">{{ scout.trp_name }}</td>
          </tr>
          <tr class="row">
            <th class="col-2" scope="row">経歴</th>
            <td class="col-10">
              {% for i in was %}{{ i }}{% if i != was[-1] %}, {% endif %}{%
              endfor %}
            </td>
          </tr>
          <tr class="row">
            <th
              class="col-2 d-flex align-items-center justify-content-center"
              scope="row"
            >
              メモ
            </th>
            <td class="col-10" style="white-space: pre-line">
              {{ scout.memo }} {{ "\n" }}
            </td>
          </tr>
        </tbody>
        <tfoot class="table-group-divider">
          <tr class="row">
            <td class="col-12">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                onclick="editView('{{ scout.id }}')"
              >
                修正
              </button>
              <button type="button" class="btn btn-danger">削除</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    {% for i in was %}
    <div
      class="tab-pane"
      id="{{ i }}-tab-pane"
      role="tabpanel"
      aria-labelledby="{{ i }}-tab"
      tabindex="0"
    >
      <p>
        これは、<strong>{{ i }}</strong
        >に関連付けられたコンテンツのプレースホルダコンテンツ。...
      </p>
    </div>
    {% endfor %}
  </div>
</div>
